<form method="POST" action="/auth/register" novalidate>
    Name:
    <input type="text" name="name">
    <br>
    Email:
    <input type="email" name="email">
    <br>
    Password:
    <input type="password" name="password">
    <br>
    <%- recaptcha %>
    <br>
    <button type="submit">Register</button>
</form>

<% if( messages.length > 0 ) { %>
    <div>
        <% messages.forEach(err => { %>
            <%- err %><br>
        <% }) %>
    </div>
<% } %>